@model List<PostDto>

@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="content">
    <div class="container">
        <div class="load_more">
            <ul id="myList">
                <!-- These are our grid blocks -->
                <li>
                    <div class="l_g">
                        <div class="col-md-9 praesent">
                            @foreach (var item in Model)
                            {
                                <div class="l_g_r">
                                    <div class="dapibus">
                                        <h2>@item.Title.ToUpper()</h2>
                                        <p class="adm">Yazar <a href="#">Tayfun</a>  |  @item.CreatedDate.ToString("hh MMM yyyy")</p>
                                        <a asp-action="Details" asp-route-id="@item.Id"><img src="~/web/images/@item.Image" class="img-responsive" alt=""></a>
                                        <p>@item.Content</p>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="link">Devamını Oku</a>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-3 integ">
                            <div class="l_g_r">
                                <div class="posts">
                                    <h4>Recent posts</h4>
                                    <h6><a href="#">Aliquam tincidunt mauris</a></h6>
                                    <h6><a href="#">Vestibulum auctor lipsum</a></h6>
                                    <h6><a href="#">Nunc dignissim risus</a></h6>
                                    <h6><a href="#">Cras ornare tristiqu</a></h6>
                                </div>
                                <div class="comments">
                                    <h4>Recent Comments</h4>
                                    <h6><a href="#">Amada Doe <span>on</span> Hello World!</a></h6>
                                    <h6><a href="#">Peter Doe <span>on</span> Photography</a></h6>
                                    <h6><a href="#">Steve Roberts <span>on</span> HTML5/CSS3</a></h6>
                                    <h6><a href="#">Doe Peter<span>on</span> Photography</a></h6>
                                </div>
                                <div class="archievs">
                                    <h4>Archives</h4>
                                    <h6><a href="#">October 2013</a></h6>
                                    <h6><a href="#">September 2013</a></h6>
                                    <h6><a href="#">August 2013</a></h6>
                                    <h6><a href="#">July 2013</a></h6>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </ul>
            <div class="clearfix"></div>

            <div id="loadMore">Load more</div>
            <div id="showLess">Show less</div>

        </div>
    </div>
</div>